/* Imported Google Font */
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Swanky+and+Moo+Moo');

/* Title Fonts */
html {
  scroll-behavior: smooth;
}

/* Main Body */
body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  margin: 0;
  padding: 0;
}

#viewport {
  width: device-width;
  zoom: 1.0;
}

@-ms-viewport {
  width: device-width;
}

/* Text Overall */
h1, h2, h3, h4 {
  font-family: 'Swanky and Moo Moo', cursive;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4em;
  font-weight: 700;
}

h2 {
  font-size: 2.8em;
  font-weight: 700;
}

h3 {
  font-size: 2.8em;
  font-weight: 700;
}

h4 {
  font-size: 2em;
  font-weight: 700;
}

h5 {
  font-size: 1.2em;
  font-weight: 400;
}

p {
  margin: 0;
}

a {
  color: #9CD9D6;
  text-decoration: none;
}

a:visited {
  color: #9CD9D6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #35615F;
}

/* Header on All Pages */
header {
  position: relative;
  top: 0%;
  color: #fff;
}

header a.logo {
  z-index: 1;
  position: absolute;
  display: block;
  width: 170px;
  height: 170px;
  background: url(../images/logo-white.svg) no-repeat 0 0;
  background-size: contain;
  left: 5%;
}

header a.logo span {
  display: none;
}

/* Navigation on All Pages */
nav {
  background-color: rgba(0, 0, 0, .65);
  position: absolute;
  padding: 2px;
  padding-top: 100px;
  top: 0%;
  width: 99.65%;
  font-size: 1.3em;
}

nav::after {
  content: '';
  display: block;
  clear: both;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li .active {
  text-decoration: underline;
  font-weight: 700;
}

nav ul li:hover {
  color: #fff;
}

nav ul li:hover>ul {
  display: block;
}

nav ul li img {
  width: 20px;
}

nav ul li a {
  display: inline-block;
  color: #fff;
  width: 150px;
  position: relative;
  padding: 10px;
}

nav ul li a:visited {
  color: #fff;
}

nav ul li a:hover {
  color: #9CD9D6;
}

nav ul ul {
  position: absolute;
  top: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  display: none;
}

nav ul ul li {
  position: relative;
  padding-left: 5px;
}

/* Top Level Navigation */
nav>ul {
  padding-left: 270px;
}

nav>ul>li {
  float: left;
  padding: 10px 20px 15px 2px;
}

nav>ul>li>a {
  width: auto;
  padding-bottom: 7px;
}

/* Contact Details in all Headers */
header .contact-details {
  font-family: 'Swanky and Moo Moo', cursive;
  float: right;
  text-align: right;
  color: #fff;
  padding-right: 85px;
  text-shadow: 2px 2px black;
}

header .contact-details a {
  color: #fff;
  text-decoration: underline;
}

header .contact-details a:hover {
  color: #DADADA;
}

header.home .contact-details {
  font-size: 1.2em;
  padding-top: 720px;
}

header.main .contact-details {
  font-size: 1em;
  padding-top: 380px;
}

/* Header on Homepage */
header.home {
  background-image: url(../images/headers/running-dog.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 950px;
}

header.home .hero {
  position: absolute;
  width: 45%;
  top: 75%;
  right: 50%;
  text-align: left;
  text-shadow: 2px 2px black;
}

header.home .hero h1 {
  font-size: 7em;
  line-height: 1em;
  margin: 0 0 30px 0;
}

header.home .hero h2 {
  line-height: 1em;
  margin: 0 0 30px 0;
}

/* Header on All Pages But Home */
header.main {
  height: 600px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

header.main .hero {
  position: absolute;
  width: 45%;
  top: 60%;
  right: 50%;
  text-align: left;
  text-shadow: 2px 2px black;
}

header.main .hero h1 {
  font-size: 6em;
  line-height: 1em;
  margin: 0 0 30px 0;
}

header.main .hero h2 {
  font-size: 2.5em;
  line-height: 1em;
  margin: 0 0 30px 0;
}

/* Header Image on About Page */
header.about {
  background-image: url(../images/headers/yawn.jpg);
}

/* Header Image on Meet The Team Page */
header.team {
  background-image: url(../images/headers/cute-puppy.jpeg);
  background-position: bottom;
}

/* Header Image on Services and Costs Page */
header.services {
  background-image: url(../images/headers/wide-eyed.jpeg);
}

/* Header Image on Gallery Page */
header.gallery {
  background-image: url(../images/headers/spaniel.jpeg);
  background-position: center;
}

/* Header Image on Contact Page */
header.contact {
  background-image: url(../images/headers/corgi.jpeg);
  background-position: center
}

/* ----------------------------------------------------------------------------------------------- */
/* Grid Wrapper for pages */
article.wrapper {
  display: grid;
  grid-gap: 1em;
  margin: 30px 90px;
}

/* ---------------------------------------------------------------------------------------------*/
/* Homepage Styling */
section::after {
  content: '';
  display: block;
  clear: both;
}

/* Section - Home */
section.home {
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 50px;
  grid-template-areas:
    'sidebar-1 info info sidebar-2'
    'sidebar-3 info info sidebar-4';
}

article.wrapper section.home p {
  padding-top: 10px;
}

article.wrapper section.home h4 {
  font-size: 3em;
}

section.home a {
  color: #000;
  text-decoration: none;
}

section.home .info {
  grid-area: info;
  font-size: 1.65em;
}

section.home .info ul {
  list-style: none;
}
section.home .info img {
  width: 20px;
}

section.home .sidebar {
  text-align: center;
  width: 400px;
}

section.home .sidebar p {
  font-size: 1.5em;
}

section.home .sidebar-1 {
  grid-area: sidebar-1;
  background: #BFFBF9;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 10px;
}

section.home .sidebar-1 img {
  width: 25%;
  padding: 10px;
}

section.home .sidebar-2 {
  grid-area: sidebar-2;
  padding-top: 50px;
  padding-bottom: 50px;
  border: 2px solid #53a2ad;
}

section.home .sidebar-2:hover {
  box-shadow: 13px -4px 26px -10px #53a2ad;
}

section.home .sidebar-2 img {
  width: 25%;
  padding: 10px;
}

section.home .sidebar-3 {
  grid-area: sidebar-3;
  margin-bottom: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  border: 2px solid #53a2ad;
}

section.home .sidebar-3:hover {
  box-shadow: 13px -4px 26px -10px #53a2ad;
}

section.home .sidebar-3 img {
  width: 25%;
  padding: 10px;
}

section.home .sidebar-4 {
  grid-area: sidebar-4;
  background: #BFFBF9;
  padding-top: 5px;
  padding-bottom: 5px;
}

section.home .sidebar-4 img {
  width: 20px;
  padding: 10px;
}

section.home .sidebar-4 ul {
  list-style: none;
  text-align: left;
  font-size: 1.8em;
}

/* ----------------------------------------------------------------------------------------------*/
/* About Styling */

article.wrapper section.about-main {
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 50px;
  grid-template-areas:
    'sidebar-1 info info info sidebar-2'
    'sidebar-3 info info info sidebar-4';
}

article.wrapper section.about-main p {
  font-size: 1.65em;
  padding-top: 10px;
}

article.wrapper section.about-main h4 {
  font-size: 3em;
}

section.about-main a {
  color: #000;
  text-decoration: none;
}

section.about-main .info {
  grid-area: info;
}

section.about-main .sidebar {
  text-align: center;
  background: #BFFBF9;
  padding: 10px;
}

section.about-main .sidebar:hover {
  box-shadow: 13px -4px 26px -10px #53a2ad;
}

section.about-main .sidebar-1 {
  grid-area: sidebar-1;
}

section.about-main .sidebar-1 img {
  width: 25%;
  padding: 10px;
}

section.about-main .sidebar-2 {
  grid-area: sidebar-2;
}

section.about-main .sidebar-2 img {
  width: 100%;
  border: 1px solid #7DBFBD;
}

section.about-main .sidebar-3 {
  grid-area: sidebar-3;
}

section.about-main .sidebar-3 img {
  width: 100%;
  border: 1px solid #7DBFBD;
}

section.about-main .sidebar-4 {
  grid-area: sidebar-4;
}

section.about-main .sidebar-4 img {
  width: 25%;
  padding: 10px;
}

/* Team Styling */

section.main-team {
  font-size: 1.5em;
  padding: 10px;
}

section.team-members {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  grid-column-gap: 100px;
}

section.team-members img {
  margin-left: 2px;
  margin-right: 2px;
}

section.team-members .member {
  background: #BFFBF9;
  box-shadow: 13px -4px 26px -10px #53a2ad;
}

section.team-members .name {
  padding: 5px;
  padding-bottom: 10px;
}

section.team-members .member img.member {
  width: 60%;
  margin: 10px;
  border: 2px solid #fff;
}

/* --------------------------------------------------------------------------------------------*/
/* Services Styling */

section.main-service {
  font-size: 1.65em;
}

section.services {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 100px;
  margin-top: 30px;
  text-align: center;
}

section.services h3 {
  font-size: 4em;
  margin: 5px;
}

section.services img {
  width: 150px;
}

section.services aside {
  background: #BFFBF9;
  padding: 20px;
  box-shadow: -13px 8px 26px -10px #53a2ad;
}

section.services aside a {
  color: #000;
}

section.services aside a:hover {
  text-decoration: none;
}

section.services aside.book:hover {
  box-shadow: none;
}


section.services .content {
  display: none;
}

section.services .content p {
  text-align: left;
  padding: 10px;
}

section.services .content a {
  	color: #000;
    text-decoration: underline;
}

section.services .content a:hover {
  	color: #5D908E;
    text-decoration: none;
}

section.services input[type="text"] {
  background: #fff;
  border: 1px solid #fff;
  padding: 12px;
  width: auto;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
}

section.services input[type="text"]:focus {
  outline: none;
}

section.services input:focus + span.content {
  display: block;
}

/* ---------------------------------------------------------------------------------------------*/
/* Gallery Styling */

article.gallery {
  padding-left: 80px;
  padding-right: 75px;
  margin: 10px;
  font-size: 0.8em;
}

article.gallery p {
  padding-left: 10px;
  font-size: 1.5em;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  box-shadow: 13px 8px 26px -10px #9F9F9F;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* ---------------------------------------------------------------------------------------------*/
/* Contact Styling */

section.contact-main {
  font-size: 1.5em;
}

section.branch {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 80px;
  margin-top: 30px;
  text-align: center;
}

section.branch h3 {
  font-size: 2.2em;
}

section.branch p {
  font-size: 1.5em;
}

section.branch img {
  width: 30%;
  padding: 10px;
}

section.branch .location {
  background: #BFFBF9;
  padding: 10px;
  box-shadow: -13px 8px 26px -10px #53a2ad;
}

section.form {
  width: 100%;
}

section.form p {
  padding: 5px;
  font-size: 1.5em;
}

section.form a {
  color: #000;
  text-decoration: underline;
}

section.form a:hover {
  text-decoration: none;
}

section.form form {
  width: 100%;
  background: #BFFBF9;
  padding: 10px;
  margin-top: 5px;
  box-shadow: -13px 8px 26px -10px #53a2ad;
}

section.form form p {
  padding: 5px;
}

section.form form input[type="text"], input[type="email"], input[type="tel"], textarea {
  border: 1px solid black;
  border-radius: 4px;
  font-size: 1.2em;
}

section.form form input[type="submit"] {
  border: 1px solid black;
  border-radius: 4px;
  font-size: 1em;
  background: #fff;
}

section.form form input[type="submit"]:hover {
  cursor: pointer;
  background: #eee;
}

/* ---------------------------------------------------------------------------------------------*/
/* Footer on All Pages */

footer {
  background-color: #7DBFBD;
  font-size: 1em;
  padding-right: 4%;
  color: white;
}

footer::after {
  content: '';
  display: block;
  clear: both;
}

footer h5 {
  font-size: 1.5em;
}

footer p {
  padding: 5px;
}

footer a.logo {
  position: absolute;
  display: block;
  width: 250px;
  height: 250px;
  padding: 5px;
  margin-top: 10px;
  margin-right: 10px;
  background: url(../images/logo-white.svg) no-repeat 0 0;
  background-size: contain;
  left: 5%;
}

footer a.logo span {
  display: none;
}

footer .quicklinks {
  float: right;
  text-align: right;
  padding: 10px;
}

footer .quicklinks ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer .quicklinks ul li {
  padding: 5px;
}

footer .quicklinks ul li a {
  color: #fff;
  text-decoration: underline;
}

footer .quicklinks ul li a:hover {
  color: #35615F;
}

footer .opening-times {
  float: right;
  padding: 10px;
  text-align: right;
}

footer .content {
  color: #fff;
  text-align: right;
  float: right;
}

footer .content ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  text-align: left;
  padding: 10px;
}

footer .content ul li {
  display: inline;
}

footer .content ul li a {
  color: #fff;
  text-decoration: underline;
}

footer .content ul li a:hover {
  color: #BFFBF9;
}
